* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'KOTRAHOPE';   /*코트라 희망체*/
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'ImcreSoojin';   /*아임크리수진체*/
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';  /*쿠키런 체*/
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #feeeed;
    font-family: 'CookieRun-Regular';

}

.header {
    width: 100%;
    background: #f391a9;
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-family: 'KOTRAHOPE';
    font-size: 28px;
}

.word-display {
    margin-top: 4rem;
    font-size: 110px;
    color: #f391a9;

    
}

.word-input-box {
    margin-top: 3rem;

}

.word-input {
    padding: 0.8rem;
    width: 315px;
    border-radius: 12px;
    border: 4px dashed #f391a9;
}

.game-info {
    margin-top: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.time,
.score,
.nanyido {
    font-size: 32px;
    color: #f391a9;
}

#sori {
    border: 1px solid black;
}

.button {
    width: 310px;
    height: 55px;
    background: #f391a9;
    color: #fff;
    border: none;
    margin-top: 2.2rem;
    cursor: pointer;
    font-family: 'CookieRun-Regular';
    font-size: 20px;
    border-radius: 12px;
}

.button1 {
    width: 150px;
    height: 55px;
    background: #f391a9;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'CookieRun-Regular';
    font-size: 20px;
    border-radius: 12px;
    margin-top: 0.5rem;
}

.loading {
    background: #ccc;
    cursor: not-allowed
}

.toast-wrap {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.toast-item {
    width: 250px;
    padding: 0.6rem 0;
    margin-top: 0.6rem;
    text-align: center;
    color: #fff;
    transition: left 500ms ease-in-out, top 500ms ease-in-out;
    position: relative;
}